.shindo3 {
  color:white;
  background-color:#0041ff;
}
.shindo4 {
  color:black;
  background-color:#fae696;
}
.shindo5_lower {
  color:black;
  background-color:#ffe600;
}
.shindo5_upper {
  color:black;
  background-color:#ff9900;
}
.shindo6_lower {
  color:black;
  background-color:#ff2800;
}
.shindo6_upper {
  color:white;
  background-color:#a50021;
}
.shindo7 {
  color:white;
  background-color:#b40068;
}